<h2 class="text-center mt-5 pb-5">
    <span style="border-bottom:5px solid #00334d;padding-bottom: 10px;">Subscriptions</span></h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" *ngFor="let user of subscriptions">
            <div class="card">
                <img class="card-img-top" src="{{user.imageUrl}}" alt="Card image cap">
                <div class="card-body">
                    <div>
                        <h5 class="card-title">{{user.subscriptionName}}</h5>
                    </div>
                    <p class="card-text">{{user.description}}</p>
                </div>
                <div class="card-footer">
                    <button routerLink="/subdetails/{{user.subscriptionId}}" type="button" class="btn btn-outline-primary">Subscription</button>&nbsp;
                </div>
            </div>
        </div>

    </div>
</div>