<div class="container-fluid" *ngFor="let user of arrayPrograms">
  <p>Today is {{today | date:'EEEE, d,LLLL, h:mm'}} </p>
  <h3>Monthly Schedule</h3>
  <div class="alert alert-success " *ngIf="showMsg">
    <strong>Success!</strong>
  </div>
  <div class="row seven-cols mx-5" *ngFor="let month of user.month">
    <div class="card-body col-md-1 px-5 mx-3" *ngFor="let day1 of month.days">
      <a class="card-title btn btn-outline-success" data-toggle="modal" data-target="#myModal"
        (click)="viewdata(day1.date, day1.slots)"
       >
    {{ day1.date | date:'EEE, d,LLL' }}</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">{{ x | date}}</h2>
          <button type="button" class="btn btn-danger close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body" *ngFor="let abc of y">

            <div class="shadow p-1 mb-1 bg-white rounded">
              <p>Program Name : {{ abc.programName }}</p>
              <p>Time : {{ abc.time }}</p>
              <p>Capacity : {{ abc.capacity }}</p>
              <p>Available: {{ abc.capacity-abc.users.length }}</p>
              <div class="form-check">
                <button type="button" class="btn btn-success" (click)="publish(x, abc.time)"
                  *ngIf="(abc.users.indexOf(this.userData.user.email) == -1)" data-dismiss="modal">
                  Book
                </button>
                <p *ngIf="(abc.users.indexOf(this.userData.user.email)  !== -1)"> Already booked</p>
              </div>
            
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
