<div class="container-fluid">
    <div class="row form-container">
        <div class="col-lg-7">
            <form #form="ngForm" (submit)=putProgram(form.value,form)>
                <div class="card-body" style=" background: white">
                    <div class="form-group row">
                        <label for="pname" class="col-sm-6 col-form-label ">Program Name</label>
                        <div class="col-sm-6">
                            <input ngModel type="text" class="form-control" name="pname" id="pname" placeholder="Program Name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-6 col-form-label">Program Description</label>
                        <div class="col-sm-6">
                            <textarea ngModel class="form-control" id="description" name="description" placeholder="Program Description" required></textarea>
                        </div>
                    </div>

                    

                    <div class="form-group row">
                        <label for="image" class="col-sm-6 col-form-label">Image</label>

                        <div class="input-group col-sm-6">



                            <input ngModel type="text" class="form-control" name="imageUrl" id="pname" placeholder="Image" required>


                            <!-- <input type="text" class="form-control bg-primary" readonly> -->
                        </div>
                    </div>
                    
                    
                    <div class="form-group row">
                        <label for="" class="col-sm-6 col-form-label"></label>
                        <div class="col-sm-6 d-flex">
                            <div>
                                <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
                            </div>

                            <div>
                                <button type="reset" class="btn btn-danger">Clear</button>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>