
<div class="container justify-content-center  mt-1">

    <div class="container text-center">
        <h2>{{details.subscriptionName}}</h2>
    </div>
    <div class="container col-md-5">
        <div class="card-body">
            <img class="img-fluid" src={{details.imageUrl}} alt="image">
        </div>
        <div class="card-body">
            <h2><b>Description</b></h2>{{details.description}}<br>
            <h2><b>Amount</b></h2>{{details.amount}}<br>
            <h2><b>Duration</b></h2>{{details.duration}}months
        </div>
    </div>
</div>


<div class=" d-flex justify-content-center mt-3">
    <div class="btn btn-success" routerLink="/enroll">Subscribe</div>&nbsp;&nbsp;&nbsp;
    <div class="btn btn-danger" routerLink="/home">Back</div>
</div>
