<div class="container-fluid" *ngFor="let user of arrayPrograms">
  <div class="row"*ngFor="let month of user.month" >
    <div class="card-body col-md-3" *ngFor="let day1 of month.days">
      <a
        class="card-title btn btn-outline-primary"
        data-toggle="modal"
        data-target="#myModal"
        (click)="viewdata(day1.date, day1.slots)">
        Date: {{ day1.date | date }}</a
      >
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">{{ x | date}}</h2>
          <button
            type="button"
            class="btn btn-danger close"
            data-dismiss="modal"
          >
            &times;
          </button>
        </div>
        <div class="modal-body" *ngFor="let abc of y">
          <div class="row">
          <div class="col-md-6">
              <div class="input-group mb-3">
                  Program Name: &nbsp;<input class="form-control"  type="text"  value="{{abc.programName}}">
              </div>
              <div class="input-group mt-3">
                  Time: &nbsp;<input class="form-control" type="text" value="{{abc.time}}">
              </div>
              <div class="input-group mt-3">
                Capacity: {{abc.capacity}}
            </div>
              <div class="input-group mt-3">
                  Update Capacity: &nbsp;<input class="form-control" type="text" value="{{abc.capacity}}" [(ngModel)]="cpc">
              </div>
            <div class="form-check mt-3">
              <button type="button" class="btn btn-success" (click)="publish(x, abc.time,abc.programName)" data-dismiss="modal">
                Update
              </button>
            </div>
          </div>
          <div class="col-md-6">
              <!-- <div class="input-group mb-3">
                Program Name: &nbsp;<input class="form-control" type="text" >
              </div>
              <div class="input-group mt-3">
                  Time: &nbsp;<input class="form-control" type="text">
              </div>
              <div class="input-group mt-3">
                  Capacity: &nbsp;<input class="form-control" type="text">
              </div>
        
          <button type="button mt-3" class="btn btn-success" (click)="publish(x, abc.time)" data-dismiss="modal">
              Add
            </button>
          </div> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="publish()"
            data-dismiss="modal">
            publish
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


