
<div class="container" *ngFor="let user of arrayPrograms" id="calender">
    <!-- <h6><a href="#"> Previous</a></h6> -->
    <div class="page">
    <a href="#"  style="text-align:left;float:left;margin-top: 1rem"> Previous</a>
   <a href="#" style="text-align:right;float:right;margin-top: 1rem"> Next</a>
    </div>
    <h3 id="monthName"> {{user.month[0].monthName}}</h3>
    
  <div class="row"*ngFor="let month of user.month" >
    <div class="card-body col-sm-2"  *ngFor="let day1 of month.days">
      <a
        class="card-title btn btn-outline-primary"
        data-toggle="modal"
        data-target="#myModal"
        (click)="viewdata(day1.date, day1.slots)"
      >
        {{ day1.date | date }}</a
      >
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">{{ x | date }}</h2>
          <button
            type="button"
            class="btn btn-danger close"
            data-dismiss="modal"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="card-body  " id="div12" *ngFor="let abc of y">
                <div class="form-group row">
                  <div class="input-group mb-3">
                    Program Name: {{ abc.programName }}
                  </div>
                  <div class="input-group mt-3">Time: {{ abc.time }}</div>
                  <div class="input-group mt-3">
                    Capacity: {{ abc.capacity }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 ">
              <label for="sel1">Select Slot Timing</label>
              <select class="form-control" id="sel1" #slt>
                <option value="Morning">Morning</option>
                <option value="Afternoon">Afternoon</option>
                <option value="Evening">Evening</option>
              </select>
              <br />
              <br />
              <label for="sel2">Select Program</label>
              <select class="form-control" id="sel2" #pgm>
                <option
                  value="{{ program.programName }}"
                  *ngFor="let program of programs"
                  >{{ program.programName }}</option
                >
                <!-- <option value="jumba" >JUMBA</option>
            <option value="yoga">YOGA</option>
            <option value="boxing">BOXING</option> -->
              </select>
              <br />
              <br />
              <label>Enter Capacity</label>
              <input class="form-control" type="text" #cap />
              <br />
              <button
                type="button"
                class="btn btn-success"
                (click)="add(cap.value, pgm.value, slt.value, x)"
              >
                Add
              </button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
