

<div class="container" >  
  <h1>Details</h1>        
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>{{arrayUser.Name}}</th>
    </tr>
    <tr>
      <th>Email Id</th>
      <th>{{arrayUser.Email}}</th>
    </tr>
    <tr>
      <th>Age</th>
      <th>{{arrayUser.Age}}</th>
    </tr>
    <tr>
        <th>Weight</th>
        <th>{{arrayUser.Weight}}</th>
      </tr>
      <tr>
          <th>Height</th>
          <th>{{arrayUser.Height}}</th>
      </tr>
  </thead>  
</table>
<button type="button" class="btn btn-primary">Edit Details</button>
</div>
