/* nav{
    background-color: #080708;
    border-radius: 20px;
}
 */
nav {
    /* background-color: rgb(37, 37, 37); */
    background-color: rgb(0, 25, 54)!important;
    /* border-radius: 10px; */
}

.active {
    background-color: rgb(24, 93, 128);
}

a:hover {
    background-color: rgb(7, 87, 128);
    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s;
}

.navbar-dark 
.navbar-nav 
.nav-link {
    color: white;
}