<div class="col-md-4">
</div>
<div class="container justify-content-center  mt-1">

    <div class="container text-center">
        <h1>{{pdetails.programName}}</h1>
    </div>

    <div class="container col-md-5">
        <div class="card-body">
            <img src={{pdetails.imageUrl}} alt="image">
        </div>
        <div class="card-body">
            <h2><b>Description</b></h2>{{pdetails.programDescription}}<br>
           
        </div>
    </div>
</div>


<div class=" d-flex justify-content-center mt-3">
    <a class="btn btn-success" routerLink="/user/mypros">Book Class</a>&nbsp;
    <a class="btn btn-primary" routerLink="/home">Back</a>
</div>