
<div class="col-md-4"></div>
<div class="container justify-content-center  mt-1" >
    
  <div class="container text-center"  >
    <h1>{{pdetails.programName}}</h1>
  </div>
  
  <div class="container col-md-5" >
    <div class="card-body" >
      <img src={{pdetails.imageUrl}} alt="image">
    </div>
    <div class="card-body">
       <h2><b>Description</b></h2>{{pdetails.programDescription}}<br>
       <h3><b>Trainer Name</b></h3>{{pdetails.trainerName}}<br>
       <h3><b>About Trainer</b></h3>{{pdetails.trainerDescription}}<br>
       <h4><b>Day:</b> {{pdetails.day}} &nbsp;<b>Time:</b> {{pdetails.timing}}</h4>
       <h5><b>Total Seats Available On {{pdetails.day}}:</b>&nbsp; {{pdetails.totalSeats}}</h5>
    </div>
  </div>
</div>

  
  <div class=" d-flex justify-content-center mt-3">
      <a class="btn btn-success">Book Class</a>&nbsp;
      <a class="btn btn-primary" routerLink="/home">Back</a>
</div>
