<h1>Programs</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4" *ngFor="let a of programs">
            <div class="card">
                <img class="card-img-top" src={{a.imageUrl}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{a.programName}}</h5>
                    <p class="card-text">{{a.programDescription}}</p>
                </div>
                <div class="card-footer">
                    <button type="button" routerLink="/admin-prog-details/{{a.programId}}" class="btn btn-primary">View</button>&nbsp;

                </div>
            </div>
        </div>
    </div>
</div>
<h1>Subscriptions</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4" *ngFor="let b of subscriptions">
            <div class="card">
                <img class="card-img-top" src={{b.imageUrl}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{b.subscriptionName}}</h5>
                    <p class="card-text">{{b.description}}</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" routerLink="/subscriptionview">View</button>&nbsp;

                </div>
            </div>
        </div>
    </div>
</div>