<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/5b97f9b88a88a54a03fe0c17.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">HRX</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-primary">Edit</button>&nbsp;
          <button type="button" class="btn btn-outline-danger">Remove</button> </div>
      </div>
      <!-- <img src="../../assets/images/5b97f9b88a88a54a03fe0c17.webp" class="img-fluid"> -->
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/5b9808f1ddda534faee8f438.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">S&C</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-primary">Edit</button>&nbsp;
          <button type="button" class="btn btn-outline-danger">Remove</button>
        </div>
      </div>
      <!-- <img src="../../assets/images/5b9808f1ddda534faee8f438.webp" class="img-fluid"> -->
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/yoga@1x.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Yoga</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-primary">Edit</button>&nbsp;
          <button type="button" class="btn btn-outline-danger">Remove</button>
          <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
        </div>
      </div>
      <!-- <img src="../../assets/images/yoga@1x.webp" class="img-fluid"> -->
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/Boxing@1x.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Boxing</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-primary">Edit</button>&nbsp;
          <button type="button" class="btn btn-outline-danger">Remove</button>
        </div>
      </div>
      <!-- <img src="../../assets/images/Boxing@1x.webp" class="img-fluid"> -->
    </div>
  </div>
</div>